* {
    font-family: sans-serif;
}

.result-p {
font-size: 30px;
margin-left: 5px;
color: rgb(255, 69, 0);
}

input, button {
    font-size: 25px;
    border-radius: 5px;
}
input {
    width: 430px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
}
button {
    padding: 20px;
    border: 1px solid gray;
    background: whitesmoke;
    margin: auto 5px 5px auto;
    width: 75px;
}
button:hover {
    background: rgb(204, 204, 204);
    cursor: pointer;
}

button:nth-last-child(2),
button:nth-last-child(1) {
    background: tomato;
    color: white;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
    background: #cf4e37;
}



